
    .container {
  display: flex;
  flex-direction: column;
  height: 100vh;
   
}

header {
  height: 80px;
  flex-shrink: 0;
  background: #273746;color:#fff; text-align: center; padding:20px;
}

footer {
  height: 80px;
  flex-shrink: 0;
  background: #273746;color:#fff; text-align: center;
  padding:20px;
}
.header h2, .footer h2 {margin: 0;}

main {
  flex: 1 0 auto;
  background: #ddd;
   padding: 20px;
}

