/* header contents */
#headerContent {
    height: 400px;
    color: #fff;
    text-align: center;
      
    
}

#headerContent .bgImage {
    position: absolute;
    background: #333
      url("image.jpg");
    background-position: center;
    
    background-size: cover;
    width: 100%;
    height: 400px;
    z-index: -1;
    opacity: 0.9;
}

#headerContent h1{
    padding-top: 150px;
    padding-bottom: 0px;
}

.button {
    display: inline-block;
    background: #333;
    color: #fff;
    text-decoration: none;
    padding : 20px;
    margin: 5px;
}

.button:hover {
    background: #fff;
    color: #333;
  }

#section-a {
    color: #333;
    padding: 10px;
    
}
#section-a  h2  {
    text-align: center;
        
}

#section-a .content {
    display: grid;
    
    grid-template-columns: auto auto ;
    grid-gap: 50px;
    
    padding-left: 400px;
    padding-right: 500px;
    padding-top:10px;
    padding-bottom:30px;
    height: 100px;
    
    
}

#section-a .content > div {
    
    text-align: left;
    padding-left: 100px;
    font-size: 20px;
    border: 1px ;  
    
  }

  #section-b {
    padding: 30px 30px 30px; 
    background-color: #333 ;
  }

  #section-b ul {
      list-style: none;
      margin: 0;
      padding: 0;
      display: flex;
      justify-content: center;
 
  }

  #section-b li {
    margin-bottom: 1em;
    background: #fff;
    color: #333;
    width: 15%;
    padding: 10px;
    margin: 20px ;
  }

  .content {
    padding: 30px;
  }


#section-c {
    background: white;
    color: #333;
    text-align: center;
    padding: 30px;
    
}
#section-c p{
    font-size: large;
}

#section-d {
    color: white;
    font-size: large;
}

#section-d .box {
    display: grid;   
    grid-template-columns: auto auto ;   
    justify-content: center;
    text-align: center;
    height: 300px;
      
  }
  

  #footer {
      background: black;
      
      color: white;
      width: auto;
      height: 100px;
      padding-top: 30px;
      font-size: 20px;
      
      
  }

  #footer .text {
      padding-left: 30%;
      padding-right: 30%;
      
  }
  #footer a {
    text-decoration: none;
    color: #2690d4;
    
}
